@{
    ViewBag.Title = "Home";
}
@section myCSS
{
    
<link href="~/Content/myStyle.css" rel="stylesheet" />

}

<div class="full Custome">
  
    <h2>International Islamic University, Chittagong</h2>
    <h4>Microsoft Imagine Program-2017</h4>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
    @*<p><a href="https://www.facebook.com/groups/1671481926201912/" target="_blank" class="btn btn-primary">Learn more &raquo;</a></p>*@
    @Html.ActionLink("Apply Now","Index","Members", new { area = "" }, new { @class = "btn btn-primary boldText"})

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

   
  
   
</div>
