@{
    ViewBag.Title = "Home";
}
@section myCSS
{
    
<link href="~/Content/myStyle.css" rel="stylesheet" />

}

<div class="jumbotron full" style="text-align: center; padding: 5px !important; color: aliceblue; background-color: darkolivegreen;">
  
    <h2>International Islamic University, Chittagong</h2>
    <h3>Microsoft Imagine Program-2017</h3>
    @*<p><a href="https://www.facebook.com/groups/1671481926201912/" target="_blank" class="btn btn-primary">Learn more &raquo;</a></p>*@
    @Html.ActionLink("Apply Now","Index","Members", new { area = "" }, new { @class = "btn btn-primary" })
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
   
</div>
