@{
    ViewBag.Title = "Support";
}
<div class="jumbotron"style="text-align: center">
    <br />
    <br />
    <h2><a href="https://www.facebook.com/groups/1671481926201912/" target="_blank">Facebook Group Link</a></h2>
 
    <p><a href="https://www.facebook.com/mdshohagmiaornob/" target="_blank">More Details</a></p>    
 
   
    <br />
    <br />
    <br />

  
 

</div>
